<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>在线考试系统待考试卷</title>
    <!-- Bootstrap core CSS -->
    <link href="#" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet">

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css?h=3a470b077af1acaa053e6b67bb7560eb">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>
<body>
<!--examnav-->
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div th:replace="commons/bar::#examnav(activeUri='/exam/toHome')"></div>
</nav>
<main class="page contact-page">
    <section class="portfolio-block contact">
        <!-- /container -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-4"  th:each="exa:${Exams}">
            <div class="project-card-no-image">
                <h2 th:text="${exa.paper.paperName}"></h2>
                <p th:text="'开始时间：'+${#dates.format(exa.examBegin, 'yyyy-MM-dd HH:mm')}"></p>
                <p th:text="'结束时间：'+${#dates.format(exa.examEnd, 'yyyy-MM-dd HH:mm')}"></p>
                <div>
                    <a class="btn btn-outline-primary btn-sm" role="button" href="#" th:href="@{'/exam/toDoExam/'+${exa.paperId}+'?examId='+${exa.examId}}">开始考试</a>
                </div>
            </div>
        </div>
    </div>
</div>
    </section>
</main>
<!--footer-->
<div th:replace="commons/bar::footer"></div>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
<script src="assets/js/theme.js"></script>
</html>
